.home {
  .section1-home {
    position: relative;
    img {
      width: 100%;
      height: 100vh; // Altura igual à altura da tela
      object-fit: cover; // Preenche a área, mantendo a proporção
    }

    .text-overlay {
      position: absolute;
      top: 20%;
      left: 65%;
      background-color: #FFF3E3;
      padding: 60px 40px;
      border-radius: 10px;

      h1, h2, p {
        background-color: transparent;
      }

      h1 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 2.5rem;
        color: var(--secondary-color);
        margin-bottom: 5px;
      }

      p {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 50px;
      }

      > a {
        background-color: #d4a373;
        color: var(--bg-color);
        border: none;
        padding: 20px 50px;
        cursor: pointer;
        font-size: 0.8rem;
      }
    }
  }

  .section2-home {
    margin: 0 auto;
    max-width: 1500px;
    padding: 20px 0px;

    .card1_section2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        text-align: center;
        font-size: 2rem;
        color: var(--quaternary-color);
      }
      p {
        font-size: 1.2rem;
        color: var(--tertiary-color);
        margin-bottom: 50px; 
      }

      div {
        display: flex;
        gap: 1.25rem;
      }
    }
  }
}
