* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
}

:root {
  --bg-color: #fff;
  --header-text-color: #000;
  --secondary-color: #B88E2F;
  --tertiary-color: #666666;
}